<div class="mt-8 ">
  <h2 class="mb-6 text-2xl font-extrabold text-gray-900">Create specialization:</h2>
  <%= form_with model: @school_specialization, url: school_specializations_path, local: true do |form| %>

    <div class="field mb-6">
      <%= form.label :school_id, "School", class: "block text-sm font-medium leading-5 text-gray-700" %>
      <%= form.collection_select(:school_id, School.all, :id, :name, {}, { class: "px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1" }) %>
    </div>

    <div class="field mb-6">
      <%= form.label :track_id, "Track", class: "block text-sm font-medium leading-5 text-gray-700" %>
      <%= form.collection_select(:track_id, Track.all, :id, :name, {}, { class: "px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1" }) %>
    </div>

    <div class="field mb-6">
      <%= form.label :specialization_id, "Specialization", class: "block text-sm font-medium leading-5 text-gray-700" %>
      <%= form.collection_select(:specialization_id, Specialization.all, :id, :name, {}, { class: "px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1" }) %>
    </div>

    <div class="field mb-6">
      <%= form.label :spots_available, "Capacity", class: "block text-sm font-medium leading-5 text-gray-700" %>
      <%= form.number_field :spots_available, class: "px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1" %>
    </div>

    <div class="field mb-6">
      <%= form.submit class: "py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 inline-block" %>
    </div>

  <% end %>
</div>

<div class="items-center justify-between">
  <h2 class="mb-2 text-2xl font-extrabold text-gray-900">Last entry:</h2>
    <table style="width: 100%">
      <% SchoolSpecialization.order(created_at: :desc).limit(1).each do |school_specialization| %>
        <tr>
          <td>
            <%= form_with model: school_specialization, local: true do |form| %>
              <div>
                <%= form.collection_select(:school_id, School.all, :id, :name, {selected: school_specialization.school_id}, { class: "px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1" }) %>
              </div>
              <div>
                <%= form.collection_select(:track_id, Track.all, :id, :name, {selected: school_specialization.track_id}, { class: "px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1" }) %>
              </div>
              <div>
                <%= form.collection_select(:specialization_id, Specialization.all, :id, :name, {selected: school_specialization.specialization_id}, { class: "px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1" }) %>
              </div>
              <div>
                <%= form.number_field :spots_available, value: school_specialization.spots_available, class: "px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1" %>
              </div>
              <div>
                <%= form.submit "Update", class: "py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 inline-block" %>
              </div>
            <% end %>
          </td>
          <td>
            <div>
            <%= button_to 'Delete', school_specialization_path(school_specialization), method: :delete, class: "py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 inline-block" %>
            </div>
          </td>
        </tr>
      <% end %>
    </table>
</div>

<%= button_to 'All records', school_specializations_path, method: :get, class: "mt-10 py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 inline-block" %>


