<% content_for :main_classes, "w-full mx-auto px-5" %>

<h2 class="mt-10 mb-6 text-2xl font-extrabold text-sap-black text-center">Allocation results</h2>
  <div class="mt-10 relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-sap-white bg-sap-grey">
      <thead class="text-xs text-sap-white uppercase bg-sap-black">
        <tr>
            <th scope="col" class="px-3 py-3 text-center">
              Email
            </th>
            <th scope="col" class="px-3 py-3 text-center">
              <%= link_to "Admission average", assignments_path(sort_by: "users.admission_average", order: (@sort_by == 'users.admission_average' && @order == 'DESC' ? 'ASC' : 'DESC')), class: "hover:text-sap-blue" %>
            </th>
            <th scope="col" class="px-3 py-3 text-center">
              English average
            </th>
            <th scope="col" class="px-3 py-3 text-center">
              Romanian average
            </th>
            <th scope="col" class="px-3 py-3 text-center">
              Mathematics average
            </th>
            <th scope="col" class="px-3 py-3 text-center">
              Mother tongue
            </th>
            <th scope="col" class="px-3 py-3 text-center">
              Mother tongue grade
            </th>
            <th scope="col" class="px-3 py-3 text-center">
              Graduation average
            </th>
            <th scope="col" class="px-3 py-3 text-center">
              School
            </th>
            <th scope="col" class="px-3 py-3 text-center">
              Specialization
            </th>
          </tr>
      </thead>
        <tbody>
            <% @assignments.each do |assignment| %>
              <tr class="bg-sap-gray border-b">
                <th scope="row" class="px-3 py-4 font-medium">
                  <%= assignment.user.email %>
                </th>
                <td class="px-3 py-4 text-center">
                  <%= assignment.user.admission_average %>
                </td>
                <td class="px-3 py-4 text-center">
                  <%= assignment.user.en_average %>
                </td>
                <td class="px-3 py-4 text-center">
                  <%= assignment.user.ro_grade %>
                </td>
                <td class="px-3 py-4 text-center">
                  <%= assignment.user.mathematics_grade %>
                </td>
                <td class="px-3 py-4 text-center">
                  <%= assignment.user.mother_tongue.blank? ? "-" : assignment.user.mother_tongue %>
                </td>
                <td class="px-3 py-4 text-center">
                  <%= assignment.user.mother_tongue_grade.nil? ? "-" : assignment.user.mother_tongue_grade %>
                </td>
                <td class="px-3 py-4 text-center">
                  <%= assignment.user.graduation_average %>
                </td>
                <td class="px-3 py-4 text-center">
                  <%= assignment.school_specialization.school.name %>
                </td>
                <td class="px-3 py-4 text-center">
                  <%= assignment.school_specialization.track.name %>
                </td>
              </tr>
            <% end %>
      </tbody>
    </table>
    <%= will_paginate @assignments, class: "bg-sap-grey text-sap-white text-center text-base" %>
  </div>

  <%= link_to "Reset allocation", assignments_reset_path(id: "dummy"), method: :delete, data: { turbo_action: 'replace', turbo_method: 'delete', turbo_confirm: 'Are you sure? Changes are permanent!' }, class: "mt-10 text-center w-42 h-10 py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-sap-white focus:outline-none bg-sap-red rounded-lg border border-gray-200 hover:bg-sap-black hover:text-sap-blue focus:z-10 focus:ring-4 inline-block" %>