<h2 class="mt-10 mb-6 text-2xl font-extrabold text-gray-900">Allocation results:</h2>

<div class="mt-10 relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
       <tr>
          <th scope="col" class="px-6 py-3 text-center">
            Email
          </th>
          <th scope="col" class="px-6 py-3 text-center">
            Admission average
          </th>
          <th scope="col" class="px-6 py-3 text-center">
            English average
          </th>
          <th scope="col" class="px-6 py-3 text-center">
            Romanian average
          </th>
          <th scope="col" class="px-6 py-3 text-center">
            Mathematics average
          </th>
          <th scope="col" class="px-6 py-3 text-center">
            Mother tongue
          </th>
          <th scope="col" class="px-6 py-3 text-center">
            Mother tongue grade
          </th>
          <th scope="col" class="px-6 py-3 text-center">
            Graduation average
          </th>
          <th scope="col" class="px-6 py-3 text-center">
            School
          </th>
          <th scope="col" class="px-6 py-3 text-center">
            Specialization
          </th>
        </tr>
     </thead>
       <tbody>
          <% Assignment.all.each do |assignment|%>
            <% user = assignment.user%>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <%= user.email %>
              </th>
              <td class="px-6 py-4 text-center">
                <%= user.admission_average %>
              </td>
              <td class="px-6 py-4 text-center">
                <%= user.en_average %>
              </td>
              <td class="px-6 py-4 text-center">
                <%= user.ro_grade %>
              </td>
              <td class="px-6 py-4 text-center">
                <%= user.mathematics_grade %>
              </td>
              <td class="px-6 py-4 text-center">
                <%= user.mother_tongue.blank? ? "-" : user.mother_tongue %>
              </td>
              <td class="px-6 py-4 text-center">
                <%= user.mother_tongue_grade.nil? ? "-" : user.mother_tongue_grade %>
              </td>
              <td class="px-6 py-4 text-center">
                <%= user.graduation_average %>
              </td>
              <td class="px-6 py-4 text-center">
                <%= School.find(SchoolSpecialization.find(assignment[:school_specialization_id])[:school_id])[:name] %>
              </td>
              <td class="px-6 py-4 text-center">
                <%= Track.find(SchoolSpecialization.find(assignment[:school_specialization_id])[:track_id])[:name] %>
              </td>
            </tr>
          <% end %>
    </tbody>
  </table>
</div>