<div class="mt-10 relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-sap-white">
    <thead class="text-xs text-sap-white uppercase bg-sap-black">
       <tr>
          <th class="px-6 py-3 text-center">
            First notification date
          </th>
          <th class="px-6 py-3 text-center">
            Second notification date
          </th>
          <th class="px-6 py-3 text-center">
            Allocation date
          </th>
        </tr>
     </thead>
       <tbody>
         <tr class="bg-sap-grey border-b">
            <th class="px-6 py-4 font-medium text-sap-white text-center">
            <%= Job.first.nil? || Job.first.first_notification_time.nil? ? "Date not selected" : Job.first.first_notification_time %>
            </th>
            <td  class="px-6 py-4 font-medium text-sap-white text-center">
            <%= Job.first.nil? || Job.first.second_notification_time.nil? ? "Date not selected" : Job.first.second_notification_time %>
           </td>
           <td  class="px-6 py-4 font-medium text-sap-white text-center">
           <%= Job.first.nil? || Job.first.allocation_time.nil? ? "Date not selected" : Job.first.allocation_time %>
           </td>
         </tr>
    </tbody>
  </table>
</div>

<div class="flex flex-col"> <!-- Flex column will stack children vertically -->
  
  <!-- Group the label and input field together -->
  <div>
    <%= form_for :job, url: assignments_path, method: :post do |f| %>
      <div class="field mb-6 mt-10">
        <%= f.label :first_notification, class: "block text-sm font-medium leading-5 text-gray-700" %>
        <%= f.text_field :first_notification, type: 'datetime-local', class: "px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1" %>
      </div>

      <!-- This is not immediately inside the outer flex container anymore, 
           so it won't compete for horizontal space with the above div -->
      <div class="flex"> <!-- This will arrange the buttons side by side -->
        <%= f.submit "Save date", class: "text-center w-32 h-10 py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-sap-white focus:outline-none bg-sap-grey rounded-lg border border-gray-200 hover:bg-sap-black hover:text-sap-blue focus:z-10 focus:ring-4 inline-block" %>
        <%= link_to "Delete", assignment_path(Job.first.id, type: 'first_notification'), method: :delete, data: { turbo_action: 'replace', turbo_method: 'delete' }, class: "text-center w-32 h-10 py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-sap-white focus:outline-none bg-sap-grey rounded-lg border border-gray-200 hover:bg-sap-black hover:text-sap-blue focus:z-10 focus:ring-4 inline-block" %>
      </div>
      
    <% end %>
  </div>
</div>

<div class="flex flex-col">
  <%= form_for :job, url: assignments_path, method: :post do |f| %>
    <div class="field mb-6 mt-6">
      <%= f.label :second_notification, class: "block text-sm font-medium leading-5 text-gray-700" %>
      <%= f.text_field :second_notification, type: 'datetime-local', class: "rounded px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1" %>
    </div>

    <div class="flex">
    <%= f.submit "Save date", class: "text-center w-32 h-10 py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-sap-white focus:outline-none bg-sap-grey rounded-lg border border-gray-200 hover:bg-sap-black hover:text-sap-blue focus:z-10 focus:ring-4 inline-block" %>
  <%= link_to "Delete", assignment_path(Job.first.id, type: 'second_notification'), method: :delete, data: { turbo_action: 'replace', turbo_method: 'delete' }, class: "text-center w-32 h-10 py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-sap-white focus:outline-none bg-sap-grey rounded-lg border border-gray-200 hover:bg-sap-black hover:text-sap-blue focus:z-10 focus:ring-4 inline-block" %>
<% end %>
</div>
</div>




<div class="flex flex-col">
  <%= form_for :job, url: assignments_path, method: :post do |f| %>
    <div class="field mb-6 mt-6">
      <%= f.label :allocation_date, class: "block text-sm font-medium leading-5 text-gray-700" %>
      <%= f.text_field :allocation_date, type: 'datetime-local', class: "rounded px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1" %>
    </div>
  <div class="flex">
    <%= f.submit "Save date", class: "text-center w-32 h-10 py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-sap-white focus:outline-none bg-sap-grey rounded-lg border border-gray-200 hover:bg-sap-black hover:text-sap-blue focus:z-10 focus:ring-4 inline-block" %>
    <%= link_to "Delete", assignment_path(Job.first.id, type: 'allocation_date'), method: :delete, data: { turbo_action: 'replace', turbo_method: 'delete' }, class: "text-center w-32 h-10 py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-sap-white focus:outline-none bg-sap-grey rounded-lg border border-gray-200 hover:bg-sap-black hover:text-sap-blue focus:z-10 focus:ring-4 inline-block" %>
    <% end %>
  </div>
</div>




<h2 class="mt-10 mb-6 text-2xl font-extrabold text-sap-black text-center">Student preference status:</h2>

<div class="mt-10 relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-sap-white">
    <thead class="text-xs text-sap-white uppercase bg-sap-black">
       <tr>
          <th scope="col" class="px-6 py-3 text-center">
            User Email
          </th>
          <th scope="col" class="px-6 py-3 text-center">
            Status
          </th>
        </tr>
     </thead>
       <tbody>
          <% User.includes(:preferences).where(role: 'student').each do |user|%>
              <tr class="bg-sap-grey border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                  <th scope="row" class="text-center px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                      <%= user.email %>
                  </th>
                  <td class="px-6 py-4 text-center">
                      <%= user.preferences.blank? ? "NOT OK" : "OK" %>
                  </td>
              </tr>
          <% end %>
    </tbody>
  </table>
</div>