<div class="w-full max-w-xs mx-auto mt-8 mb-8">
  <h2 class="mb-8 text-center text-2xl font-extrabold text-gray-900">Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "space-y-8") do |f| %>
    <div class="mb-3">
      <%= f.label :email, class: "block text-sm font-medium text-gray-700" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email@provider.com", class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>
    </div>

    <div class="mb-3">
      <%= f.label :password, class: "block text-sm font-medium text-gray-700" %>
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" %>
    </div>

    <div class="mb-3">
      <%= f.submit "Log in", class: "py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" %>
    </div>
  <% end %>

  <div class="mt-8 text-center">
    <%= render "users/shared/links" %>
  </div>
</div>
