<nav>
  <div class="mx-auto max-w-full px-2 sm:px-6 lg:px-8 mb-52 md:mb-10 bg-sap-grey">
    <div class="flex flex-col md:flex-row min-h-16 items-center justify-between">

      <%= link_to root_path, class: "justify-start pl-2 mb-2 md:mb-0" do %>
        <%= image_tag 'logo-no-background.png', alt: 'School Admissions 2023', class: "object-scale-down h-30 w-60 min-w-[160px] min-h-[80px]" %>
      <% end %>

      <div class="flex flex-col md:flex-row justify-center items-center space-y-2 md:space-y-0 md:space-x-4 mb-2 md:mb-0">
        <div class="flex justify-center items-center space-x-4">
          <% if can? :manage, School %>
            <%= link_to "Import Data", new_school_specialization_import_path, class: "font-semibold hover:font-bold text-sap-white hover:text-sap-blue rounded-md px-3 py-2 text-sm font-medium" %>
          <% end %>

          <% if can? :manage, SchoolSpecialization %>
            <%= link_to "Specialization Creation", new_school_specialization_path, class: "font-semibold hover:font-bold text-sap-white hover:text-sap-blue rounded-md px-3 py-2 text-sm font-medium" %>
          <% end %>

          <% if can? :manage, User %>
            <%= link_to "Student Creation", new_student_path, class: "font-semibold hover:font-bold text-sap-white hover:text-sap-blue rounded-md px-3 py-2 text-sm font-medium" %>
          <% end %>

          <% if can? :manage, Job %>
            <%= link_to "Scheduler", new_assignment_path, class: "font-semibold hover:font-bold text-sap-white  hover:text-sap-blue rounded-md px-3 py-2 text-sm font-medium" %>
          <% end %>

          <% if can? :manage, Assignment %>
            <%= link_to "Allocation Overview", assignments_path, method: :get, class: "font-semibold hover:font-bold text-sap-white  hover:text-sap-blue rounded-md px-3 py-2 text-sm font-medium" %>
          <% end %>

          <% if can? :manage, Preference %>
            <%= link_to "Choose school preferences", new_preference_path, class: "text-sap-white hover:text-sap-blue rounded-md px-3 py-2 text-sm font-medium" %>
          <% end %>

          <% if can? :manage, Preference %>
            <%= link_to "Grades and preferences", preferences_path, class: "text-sap-white hover:text-sap-blue rounded-md px-3 py-2 text-sm font-medium" %>
          <% end %>
        </div>
      </div>

      <div class="flex flex-col md:flex-row justify-center md:justify-end items-center space-y-2 md:space-y-0 md:space-x-4">
        <% if current_user.nil? %>
          <%= link_to "Login", new_user_session_path, class: "justify-right text-sap-white hover:text-sap-blue rounded-md px-3 py-2 text-sm font-medium" %>
        <% else %>
          <%= link_to current_user.email, edit_user_registration_path, class: "justify-right text-sap-white hover:text-sap-blue rounded-md px-3 py-2 text-sm font-medium" %>
          <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "justify-right text-sap-white hover:text-sap-blue rounded-md px-3 py-2 text-sm font-medium" %>
        <% end %>
      </div>

    </div>
  </div>
</nav>