<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
       <%= link_to "School Admissions 2023", root_path, class: "text-white text-lg pl-2" %>
        <% if current_user && current_user.role == 'admin' %>
          <div class="flex justify-center items-center space-x-4">
            <%= link_to "Create School Specializations", new_school_specialization_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" %>
            <%= link_to "Create Student Account", new_student_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" %>
            <%= link_to "Scheduler", scheduler_assignments_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" %>
            <%= link_to "Allocation Overview", new_assignment_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" %>
          </div>
        <% elsif current_user && current_user.role == 'student' %>
          <div class="flex justify-center items-center space-x-4">
              <%= link_to "Choose school preference", new_preference_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" %>
          </div>
        <% end %>
      <div class="flex justify-end items-center">
        <% if current_user.nil? %>
          <%= link_to "Login", new_user_session_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" %>
        <% else %>
          <%= link_to current_user.email, edit_user_registration_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" %>
          <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
