<nav>
  <div class="mx-auto max-w-full px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
    <%= link_to root_path, class: "justify-start pl-2" do %>
      <%= image_tag 'logo-no-background.png', alt: 'School Admissions 2023', class: "object-scale-down h-20 w-40" %>
    <% end %>

        <div class="flex justify-center items-center space-x-4">
          <% if can? :manage, School %>
            <%= link_to "Import Data", new_school_specialization_import_path, class: "text-sap-black hover:bg-sap-grey hover:text-sap-blue rounded-md px-3 py-2 text-sm font-medium" %>
          <% end %>

          <% if can? :manage, SchoolSpecialization %>
            <%= link_to "Specialization Creation", new_school_specialization_path, class: "text-sap-black hover:bg-sap-grey hover:text-sap-blue rounded-md px-3 py-2 text-sm font-medium" %>
          <% end %>

          <% if can? :manage, User %>
            <%= link_to "Student Creation", new_student_path, class: "text-sap-black hover:bg-sap-grey hover:text-sap-blue rounded-md px-3 py-2 text-sm font-medium" %>
          <% end %>

          <% if can? :manage, Job %>
            <%= link_to "Scheduler", new_assignment_path, class: "text-sap-black hover:bg-sap-grey hover:text-sap-blue rounded-md px-3 py-2 text-sm font-medium" %>
          <% end %>

          <% if can? :manage, Assignment %>
            <%= link_to "Allocation Overview", assignments_path, method: :get, class: "text-sap-black hover:bg-sap-grey hover:text-sap-blue rounded-md px-3 py-2 text-sm font-medium" %>
          <% end %>

          <% if can? :manage, Preference %>
            <%= link_to "Choose school preference", new_preference_path, class: "text-sap-black hover:bg-sap-grey hover:text-sap-blue rounded-md px-3 py-2 text-sm font-medium" %>
          <% end %>
        </div>

      <div class="flex justify-end items-center">
        <% if current_user.nil? %>
          <%= link_to "Login", new_user_session_path, class: "justify-right text-sap-black hover:bg-sap-grey hover:text-sap-blue rounded-md px-3 py-2 text-sm font-medium" %>
        <% else %>
          <%= link_to current_user.email, edit_user_registration_path, class: "justify-right text-sap-black hover:bg-sap-grey hover:text-sap-blue rounded-md px-3 py-2 text-sm font-medium" %>
          <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "justify-right text-sap-black hover:bg-sap-grey hover:text-sap-blue rounded-md px-3 py-2 text-sm font-medium" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>