<h2 class="mt-10 mb-2 text-2xl font-extrabold text-sap-black text-center">Your grades</h2>
  <div class="mt-10 relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left text-sap-white">
          <thead class="text-xs text-sap-white uppercase bg-sap-black">
              <tr>
                  <th scope="col" class="px-6 py-3 text-center">
                      Grade category
                  </th>
                  <th scope="col" class="px-6 py-3 text-center">
                      Grade
                  </th>
              </tr>
          </thead>
          <tbody>
              <tr class="bg-sap-grey border-b text-center">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                      Admission average
                  </th>
                  <td class="px-6 py-4">
                      <%= current_user.admission_average %>
                  </td>
              </tr>
              <tr class="bg-sap-grey border-b text-center">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                      English average
                  </th>
                  <td class="px-6 py-4">
                      <%= current_user.en_average %>
                  </td>
              </tr>
              <tr class="bg-sap-grey border-b text-center">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                      Romanian grade
                  </th>
                  <td class="px-6 py-4">
                      <%= current_user.ro_grade %>
                  </td>
              </tr>
              <tr class="bg-sap-grey border-b text-center">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                      Mathematics grade
                  </th>
                  <td class="px-6 py-4">
                      <%= current_user.mathematics_grade %>
                  </td>
              </tr>
              <tr class="bg-sap-grey border-b text-center">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                      Mother tongue
                  </th>
                  <td class="px-6 py-4">
                      <%= current_user.mother_tongue.nil? ? "-" : current_user.mother_tongue %>
                  </td>
              </tr>
              <tr class="bg-sap-grey border-b text-center">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                      Mother tongue grade
                  </th>
                  <td class="px-6 py-4">
                      <%= current_user.mother_tongue_grade.nil? ? "-" : current_user.mother_tongue_grade %>
                  </td>
              </tr>
              <tr class="bg-sap-grey border-b text-center">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                      Graduation average
                  </th>
                  <td class="px-6 py-4">
                      <%= current_user.graduation_average %>
                  </td>
              </tr>

          </tbody>
      </table>
  </div>