<div class="w-full max-w-xs mx-auto mt-8 mb-8">
  <h2 class="mb-6 text-center text-2xl font-extrabold text-gray-900">Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="field mb-6">
      <%= f.label :email, class: "block text-sm font-medium text-gray-700" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1", placeholder: "email@provider.com" %>
    </div>

    <div class="actions mb-4">
      <%= f.submit "Send email", class: "text-center w-32 h-10 py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-sap-white focus:outline-none bg-sap-grey rounded-lg border border-gray-200 hover:bg-sap-black hover:text-sap-blue focus:z-10 focus:ring-4 inline-block" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>
