<% content_for :main_classes, 'container mx-auto mt-25 px-5' %>

<div class="mt-8 ">
  <h2 class="mb-6 text-2xl font-extrabold text-sap-black text-center">Create student account</h2>
  <%= form_with model: @student, url: students_path, data: { turbo: false } do |form| %>

    <div class="mb-4">
      <%= form.label :email, "Email", class: "block text-sm font-medium leading-5 text-gray-700" %>
      <%= form.email_field :email, placeholder: "email@provider.com" ,class: "px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1" %>
    </div>

    <div class="mb-4">
    <%= form.label :admission_average, "Admission average", class: "block text-sm font-medium leading-5 text-gray-700" %>
    <%= form.number_field :admission_average, min: 1.00, max: 10.00, step: :any, placeholder: "9.56" ,class: "px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1" %>
    </div>

    <div class="mb-4">
    <%= form.label :en_average, "English average", class: "block text-sm font-medium leading-5 text-gray-700" %>
    <%= form.number_field :en_average, min: 1.00, max: 10.00, step: :any, placeholder: "9.56" ,class: "px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1" %>
    </div>

    <div class="mb-4">
    <%= form.label :ro_grade, "Romanian grade", class: "block text-sm font-medium leading-5 text-gray-700" %>
    <%= form.number_field :ro_grade, min: 1.00, max: 10.00, step: :any, placeholder: "9.56" ,class: "px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1" %>
    </div>

    <div class="mb-4">
    <%= form.label :mathematics_grade, "Mathematics grade", class: "block text-sm font-medium leading-5 text-gray-700" %>
    <%= form.number_field :mathematics_grade, min: 1.00, max: 10.00, step: :any, placeholder: "9.56" ,class: "px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1" %>
    </div>

    <div class="mb-4">
    <%= form.label :mother_tongue, "Mother tongue", class: "block text-sm font-medium leading-5 text-gray-700" %>
    <%= form.text_field :mother_tongue, placeholder: "Spanish" ,class: "px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1" %>
    </div>
    
    <div class="mb-4">
    <%= form.label :mother_tongue_grade, "Mother tongue grade", class: "block text-sm font-medium leading-5 text-gray-700" %>
    <%= form.number_field :mother_tongue_grade, min: 1.00, max: 10.00, step: :any, placeholder: "9.56" ,class: "px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1" %>
    </div>

    <div class="mb-4">
    <%= form.label :graduation_average, "Graduation average", class: "block text-sm font-medium leading-5 text-gray-700" %>
    <%= form.number_field :graduation_average, min: 1.00, max: 10.00, step: :any, placeholder: "9.56" ,class: "px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1" %>
    </div>

    <div class="mb-4 flex">
      <%= form.submit class: "text-center w-32 h-10 py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-sap-white focus:outline-none bg-sap-grey rounded-lg border border-gray-200 hover:bg-sap-black hover:text-sap-blue focus:z-10 focus:ring-4 inline-block" %>
      <%= link_to "All students", students_path, method: :get, class: "text-center w-32 h-10 py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-sap-white focus:outline-none bg-sap-grey rounded-lg border border-gray-200 hover:bg-sap-black hover:text-sap-blue focus:z-10 focus:ring-4 inline-block"%>
    </div>

  <% end %>
</div>