<!DOCTYPE html>
<html>
  <head>
    <title>School Admissions 2023</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body class="min-w-sm">
    <%= render partial: "/shared/navbar"%>
    <main class="<%= yield(:main_classes) || 'container mx-auto mt-25 px-5' %>">

      <% if flash[:alert] %>
        <div class="pt-10 font-bold text-center text-sap-blue">
          <%= flash[:alert] %>
        </div>
      <% end %>

      <% if flash[:success] %>
        <div class="pt-10 font-bold text-center text-sap-blue">
          <%= flash[:success] %>
        </div>
      <% end %>

      <% if flash[:error] %>
        <div class="pt-10 font-bold text-center text-sap-blue">
          <%= flash[:error] %>
        </div>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
